@page
@model IndexModel
@{    
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Hello World from Niller</h1>
    <hr />
    <div class="jumbotron">
    <h1>.NET jeg vil hjem</h1>
    <p class="lead">123.</p>
</div>
